<div class="container">
  <h1>Posts</h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="<%= post.image_url %>" class="card-img-top" alt="Post image">
          <div class="card-body">
            <h5 class="card-title">@<%= post.profile.username %></h5>
            <p class="card-text"><%= post.description %></p>
            <p class="text-muted">
              Hashtags: 
              <%= post.hashtags.map { |h| "##{h.tag}" }.join(", ") %>
            </p>
            <%= link_to "View post", post_path(post), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>